<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://127.0.0.1:3306/ssh_tushuguanli_sys?useSSL=false&amp;serverTimezone=Asia/Shanghai">
		</property>
		<property name="username" value="ssh_tushuguanli_sys"></property><!-- 数据库的连接名 -->
		<property name="password" value="ssh_tushuguanli_sys"></property><!-- 数据库的连接密码，需要改成你自己的 -->
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.SQLServerDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/model/TAdmin.hbm.xml</value>
			    <value>com/model/TUser.hbm.xml</value>
			    <value>com/model/TCatelog.hbm.xml</value>
			    <value>com/model/TBook.hbm.xml</value>
			    <value>com/model/TJieyue.hbm.xml</value>
			    <value>com/model/TGonggao.hbm.xml</value>
			    <value>com/model/TLeibie.hbm.xml</value>
		    </list>
		</property>
	</bean>
	
	
	
	<bean id="TUserDAO" class="com.dao.TUserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	
	<bean id="userAction" class="com.action.UserAction" scope="prototype">
		<property name="userDAO">
			<ref bean="TUserDAO" />
		</property>
	</bean>
	
	
	<!-- 后台的登录 -->
	<bean id="loginService" class="com.service.loginService">
		<property name="adminDAO">
			<ref bean="TAdminDAO" />
		</property>
		<property name="userDAO">
			<ref bean="TUserDAO" />
		</property>
		<property name="leibieDAO">
			<ref bean="TLeibieDAO" />
		</property>
	</bean>
	
	
	<bean id="TAdminDAO" class="com.dao.TAdminDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="adminAction" class="com.action.adminAction" scope="prototype">
		<property name="adminDAO">
			<ref bean="TAdminDAO" />
		</property>
	</bean>
	
	
	
	
	
	<bean id="TCatelogDAO" class="com.dao.TCatelogDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="catelogService" class="com.service.catelogService">
		<property name="catelogDAO">
			<ref bean="TCatelogDAO" />
		</property>
		<property name="bookDAO">
			<ref bean="TBookDAO" />
		</property>
	</bean>
	<bean id="catelogAction" class="com.action.catelogAction" scope="prototype">
		<property name="catelogDAO">
			<ref bean="TCatelogDAO" />
		</property>
	</bean>
	
	
	
	
	<bean id="TBookDAO" class="com.dao.TBookDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="bookAction" class="com.action.bookAction" scope="prototype">
		<property name="catelogDAO">
			<ref bean="TCatelogDAO" />
		</property>
		<property name="bookDAO">
			<ref bean="TBookDAO" />
		</property>
		<property name="leibieDAO">
			<ref bean="TLeibieDAO" />
		</property>
		<property name="jieyueDAO">
			<ref bean="TJieyueDAO" />
		</property>
	</bean>
	
	
	
	
	<bean id="TJieyueDAO" class="com.dao.TJieyueDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="jieyueAction" class="com.action.jieyueAction" scope="prototype">
		<property name="jieyueDAO">
			<ref bean="TJieyueDAO" />
		</property>
		<property name="bookDAO">
			<ref bean="TBookDAO" />
		</property>
		<property name="userDAO">
			<ref bean="TUserDAO" />
		</property>
	</bean>
	
	
	
	
	<bean id="TGonggaoDAO" class="com.dao.TGonggaoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	<bean id="gonggaoAction" class="com.action.gonggaoAction" scope="prototype">
		<property name="gonggaoDAO">
			<ref bean="TGonggaoDAO" />
		</property>
	</bean>
	
	
	
	<bean id="TLeibieDAO" class="com.dao.TLeibieDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="leibieAction" class="com.action.leibieAction" scope="prototype">
		<property name="leibieDAO">
			<ref bean="TLeibieDAO" />
		</property>
	</bean>
	</beans>